<?xml version="1.0" encoding="utf-8"?>
   <packages>
      <package id="7zip" />
      <package id="msiafterburner" />
      <package id="notepadplusplus" />
      <package id="vlc" />
      <package id="keepassxc" />
      <package id="firefox" />
      <package id="bleachbit" />
      <package id="tor-browser" />
      <package id="gpg4win" />
      <package id="brave" />
      <package id="cryptomator" />
      <package id="steam" />
      <package id="discord" />
      <package id="cpu-z" />
      <package id="hwinfo" />
      <package id="uplay" />
      <package id="origin" />
      <package id="gimp" />
      <package id="obs-studio" />
      <package id="sharex" />
      <package id="blender" />
      <package id="gpu-z" />
      <package id="wireshark" />
      <package id="logitechgaming" />
      <package id="veracrypt" />
      <package id="freefilesync" />
      <package id="geforce-experience" />
      <package id="qbittorrent" />
      <package id="etcher" />
      <package id="epicgameslauncher" />
      <package id="k-litecodecpackfull" />
      <!-- not installed 
      haste.net
      battle.net
      vpnclient
      firefox plugins
            https
            ublock origin
            no script
      CoreTemp     -->
<!--       
      <package id="signal" />
      <package id="ds4windows " />
      <package id="nmap" />
       -->
 </packages>
